<div class="visual-list">
    <div class="circle_block">
        <img class="circle" src="assets/visual/arc_diagram.svg">
        <p>弧线图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/area_graph.svg">
        <p>面积图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/bar_graph.svg">
        <p>条形图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/box_plot.svg">
        <p>箱形图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/brainstorm.svg">
        <p>脑力激荡图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/bubble_chart.svg">
        <p>气泡图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/bubble_map.svg">
        <p>气泡地图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/bullet_chart.svg">
        <p>子弹图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/calendar.svg">
        <p>日历</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/candlestick_chart.svg">
        <p>蜡烛图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/chord_diagram.svg">
        <p>弦图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/choropleth_map.svg">
        <p>地区分布图</p>
    </div>


    <div class="circle_block">
        <img class="circle" src="assets/visual/circle_packing.svg">
        <p>圆堆积</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/connection_map.svg">
        <p>连接地图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/density_plot.svg">
        <p>密度图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/donut_chart.svg">
        <p>圆环图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/point_map.svg">
        <p>点示地图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/dot_matrix_chart.svg">
        <p>点阵图表</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/error_bars.svg">
        <p>误差线</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/flow_chart.svg">
        <p>流程图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/flow_map.svg">
        <p>流向地图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/gantt_chart.svg">
        <p>甘特图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/heat_map.svg">
        <p>热图（矩阵</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/histogram.svg">
        <p>直方图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/illustration_diagram.svg">
        <p>说明图</p>
    </div>


    <div class="circle_block">
        <img class="circle" src="assets/visual/kagi_chart.svg">
        <p>卡吉图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/line_graph.svg">
        <p>折线图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/marimekko_chart.svg">
        <p>不等宽柱状图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/multiset_bar_chart.svg">
        <p>多组条形图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/network_diagram.svg">
        <p>网络图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/nightingale_rose_chart.svg">
        <p>南丁格尔玫瑰图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/non_ribbon_chord_diagram.svg">
        <p>非彩带弦图</p>
    </div>


    <div class="circle_block">
        <img class="circle" src="assets/visual/hikkake_pattern.svg">
        <p>美国线</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/parallel_coordinates.svg">
        <p>平行座标图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/parallel_sets.svg">
        <p>平行集合图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/pictogram_chart.svg">
        <p>象形图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/pie_chart.svg">
        <p>饼形图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/point_and_figure_chart.svg">
        <p>点数图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/population_pyramid.svg">
        <p>人口金字塔</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/proportional_area_chart.svg">
        
        <p>比例面积图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/radar_chart.svg">
        <p>雷达图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/radial_bar_chart.svg">
        <p>径向条形图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/radial_column_chart.svg">
        <p>径向柱图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/sankey_diagram.svg">
        <p>桑基图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/scatterplot.svg">
        <p>散点图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/span_chart.svg">
        <p>跨度图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/condegram_spiral_plot.svg">
        <p>螺旋图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/stacked_area_graph.svg">
        <p>堆叠式面积图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/stacked_bar_graph.svg">
        <p>堆叠式条形图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/stem_and_leaf_plot.svg">
        <p>茎叶图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/stream_graph.svg">
        <p>量化波形图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/sunburst_diagram.svg">
        <p>旭日图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/tally_chart.svg">
        <p>记数符号图表</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/timeline.svg">
        <p>时间线</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/time_table.svg">
        <p>时间表</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/tree_diagram.svg">
        <p>树形图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/treemap.svg">
        <p>树形结构图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/venn_diagram.svg">
        <p>文氏图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/violin_plot.svg">
        <p>小提琴图</p>
    </div>

    <div class="circle_block">
        <img class="circle" src="assets/visual/word_cloud.svg">
        <p>字云图</p>
    </div>
</div>
